* {
    margin: 0px;
    padding: 0px;
}

div#main_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

div#player {
    box-sizing: border-box;
    width: 30%;
    border: 1px solid black;
}
div#player_image {
    background-image: url("img/steve.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 95%;
    height: 500px;
}
div#player_stats {
    
}

div#center_container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 100vh;
}
div#mob {
    text-align: center;
}
div#mob_health_bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100px;
}
div#mob_image {
    display: inline-block;
    background-image: url("https://static.turbosquid.com/Preview/2016/03/14__23_58_21/MinecraftCreeper02.jpg2a29f0cd-04de-4935-998b-8fe7735414efOriginal.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 400px;
}
div#location {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px 15px 0px 0px;
    width: 90%;
    padding: 15px 15px 15px 15px;
}  
#location h1 {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}
div.biom {
    border: 1px solid black;
    border-radius: 15px;
    width: 100px;
    height: 100px;
}


div#upgrades {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px 0px 0px 15px;
    padding: 10px;
    width: 30%;
    height: 100vh;
}
#upgrades h1 {
    text-align: center;
}
div.upgrades_list {
    overflow-y: scroll;
    border: 1px solid black;
    border-radius: 15px 0px 0px 15px;
    width: 90%;
    height: 45%;
}
div#bar{
    border: solid 2px black;
    margin: auto;
    width: 20%;
    height: 15px;   
}
div#healthBar{
    width: 5%;
    height: 100%;
    background: #e74c3c;    
}