@font-face {
    font-family: "Minefont";
    src: url("fonts/minefont.ttf");
}
body {
    font-family: "Minefont", 'Courier New', Courier, monospace;
}
* {
    margin: 0px;
    padding: 0px;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none; 
}


div#main_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}


div#player {
    box-sizing: border-box;
    width: 30%;
    border: 1px solid black;
}
div#player_image {
    background-image: url("img/steve.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 95%;
    height: 500px;
}
div#player_stats {
    
}


div#center_container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 100vh;
}
div#current_mob {
    text-align: center;
}
div#mob_health_bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80px;
}
div#bar{
    border: solid 2px black;
    width: 70%;
    height: 18px;   
}
div#healthBar{
    background-color: #e74c3c;    
    width: 100%;
    height: 100%;
}
div#current_mob_image {
    display: inline-block;
    background-image: url("https://static.turbosquid.com/Preview/2016/03/14__23_58_21/MinecraftCreeper02.jpg2a29f0cd-04de-4935-998b-8fe7735414efOriginal.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 350px;
}
div#fight_button p {
    display: inline-block;
    background-color: red;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0px; 
    font-size: 150%;
}

div#location {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px 15px 0px 0px;
    width: 90%;
    padding: 15px 15px 15px 15px;
}  
#location h1 {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}
div.biom {
    border: 1px solid black;
    border-radius: 15px;
    width: 100px;
    height: 100px;
}


div#upgrades_container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border: 5px solid black;
    padding: 10px;
    width: 30%;
    height: 100vh;
}
div.upgrades_list {
    overflow: auto;
    border: 3px solid black;
    width: 90%;
    height: 45%;
}
div.upgrade {
    box-sizing: border-box;
    background-color: #212121;
    border: 2px solid #555651;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
div.upgrade div.upgrade_photo_container {
    display: inline-block;
    width: 20%;
    margin-right: 10px;
}
div.upgrade div.upgrade_photo {
    background-image: url("http://www.canteach.ca/minecraft-pe/images/wooden_pickaxe.gif");
    background-size: 100% 100%;
    padding: 50% 0px 50% 0px;
}
div.upgrade_description {
    display: inline-block;
    width: 80%;
}
div.upgrade h1 {
    display: inline-block;
    margin-bottom: 5px;
    color: #fcff03;
    font-size: 1vw;
}
div.upgrade p {
    display: inline-block;
    color: #ffffff;
    font-size: 1vw;
}


div#mob_selection_container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100vw;
    height: 100vh;
}
div#mob_selection {
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(35, 35, 114);
    border: 7px solid black;
    width: 80%;
    height: 70%;
    padding: 15px;
}

div.mob {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 22%;
    height: 100%;
    padding-right: 15px;
}
div.mob h1 {
    margin: 10px 0px;
    text-align: center;
    color: white;
}
div.mob div {
    background-image: url("https://static.turbosquid.com/Preview/2016/03/14__23_58_21/MinecraftCreeper02.jpg2a29f0cd-04de-4935-998b-8fe7735414efOriginal.jpg");
    background-size: 100% 100%;
    border: 5px solid black;
    width: 100%;
    height: 70%;
    margin: 10px 0px;
}
div.mob p {
    margin: 10px 0px;
    text-align: center;
    color: white;
}